*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #708238;
}

header{
    position: sticky; /*Para fazer o cabeçalho continuar visível ao rolar a página*/
    z-index: 1000; /*Faz com que o cabeçalho fique por cima de todo conteúdo*/
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%; /*15px do topo, e 5% da direita. % para acompanhar a tela*/
    background-color: #013220;
}

.Espaco_marca{
    align-items: center;
    display: flex;
    gap: 12px;
}

.logo{
    align-items: center;
    gap: 10px;
}

.logo h1{
    color: white;
    font-family: "Vollkorn", serif;
    font-size: 20px;
    font-weight: bold;
}

.logo p{
  font-family: "DM Sans", sans-serif;
  color: white;
  font-size: 13px;
}

.Area_de_Pesquisa{
    display: flex;
    gap: 10px;
}

.Area_de_Pesquisa input{
    background-color: rgb(224, 224, 224);
    width: 100%; /* Ocupa  todo o espaço da tela*/
    max-width: 345px; /* porém não passa de 345px*/
    display: flex;
    height: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    border: none;
    border-radius: 15px;
}

.espaco_perfil{
    display:flex;
    gap: 15px;
    align-items:center
}

.espaco_perfil label{
    color: white;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
}

nav{
    width: 100%;
    min-height: 64px; /*Para deixar o espaço mínimo de altura*/
    padding: 16px 5%; /*16px do topo, e 5% da direita. % para acompanhar a tela*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /*Para quebrar os links caso a tela for pequena*/
    background-color: white;
    gap: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /*Sombra na parte inferior para efeito flutuante*/
}

.menu_inicio{
    background-color: #c1121f;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    color: white;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease; /*Transição para o efeito de sobreposição*/
}

.menu_inicio:hover{
    transform: scale(1.10); /*Aumenta o tamanho do botão*/
    background-color: #780000; /*Tom de vermelho mais elegante*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /*Sombra de efeito flutuante*/
    color: white;
}

nav a{
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    text-decoration: none;
    color: #3fa34d;
    display: inline-flex;/*inline-flex os elementos ficarem na mesma linha e se ajusta ao tamanho da tela*/
    align-items: center; /*Centraliza os itens verticalmente*/
}

nav a:hover{
    color: #013220; 
}

section h2{
    background-color:#708238;
    font-size: 28px;
    width: 100%;
    padding: 5px;
    color:#013220 ;
    font-family: "Vollkorn", serif;
    text-align: center;
}

.verd{
    display:flex ;
    background-color: white;
    gap: 35px;
    padding: 12px;
    flex-wrap: wrap;
    background-color: white;
    display:flex;
    flex-wrap: wrap; /*Faz os cards irem para baixo se não couberem*/
    gap: 30px;
    justify-content: center;
    padding: 30px 40px; 
}

.legu{
   
    display:flex ;
    background-color: white;
    gap: 35px;
    padding: 12px;
    flex-wrap: wrap;
    background-color: white;
    display:flex;
    flex-wrap: wrap; /*Faz os cards irem para baixo se não couberem*/
    gap: 30px;
    justify-content: center;
    padding: 30px 40px; 
  
}

.frut{
    
    display:flex ;
    background-color: white;
    gap: 35px;
    padding: 12px;
    flex-wrap: wrap;
    background-color: white;
    display:flex;
    flex-wrap: wrap; /*Faz os cards irem para baixo se não couberem*/
    gap: 30px;
    justify-content: center;
    padding: 30px 40px; 
}

.latici{
     
    display:flex ;
    background-color: white;
    gap: 35px;
    padding: 12px;
    flex-wrap: wrap;
    background-color: white;
    display:flex;
    flex-wrap: wrap; /*Faz os cards irem para baixo se não couberem*/
    gap: 30px;
    justify-content: center;
    padding: 30px 40px; 
}

.queijos{
     
    display:flex ;
    background-color: white;
    gap: 35px;
    padding: 12px;
    flex-wrap: wrap;
    background-color: white;
    display:flex;
    flex-wrap: wrap; /*Faz os cards irem para baixo se não couberem*/
    gap: 30px;
    justify-content: center;
    padding: 30px 40px; 

}

.geleias{

    display:flex ;
    background-color: white;
    gap: 35px;
    padding: 12px;
    flex-wrap: wrap;
    background-color: white;
    display:flex;
    flex-wrap: wrap; /*Faz os cards irem para baixo se não couberem*/
    gap: 30px;
    justify-content: center;
    padding: 30px 40px; 

}

.sucos{
     
    display:flex ;
    background-color: white;
    gap: 35px;
    padding: 12px;
    flex-wrap: wrap;
    background-color: white;
    display:flex;
    flex-wrap: wrap; /*Faz os cards irem para baixo se não couberem*/
    gap: 30px;
    justify-content: center;
    padding: 30px 40px; 

}

.paes{
     
    display:flex ;
    background-color: white;
    gap: 35px;
    padding: 12px;
    flex-wrap: wrap;
    background-color: white;
    display:flex;
    flex-wrap: wrap; /*Faz os cards irem para baixo se não couberem*/
    gap: 30px;
    justify-content: center;
    padding: 30px 40px; 

}


.verd article{
    background-color: #ececec;
    height: auto; /* Altura auto se adapta ao conteúdo */
    min-height: 315px; /* Altura mínima que o card tem que ter*/
    width: 100%;
    max-width: 330px; /* largura máxima para não esticar infinito*/
    padding: 20px; /* Padding uniforme */
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
}


.verd h3{
    font-family: "Vollkorn", serif;
    font-size: 22px;
    padding-top: 6px;
}
.legu article{
    background-color: #ececec;
    height: auto; /* Altura auto se adapta ao conteúdo */
    min-height: 315px; /* Altura mínima que o card tem que ter*/
    width: 100%;
    max-width: 330px; /* largura máxima para não esticar infinito*/
    padding: 20px; /* Padding uniforme */
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
}


.legu h3{
    font-family: "Vollkorn", serif;
    font-size: 22px;
    padding-top: 6px;
}

.frut article{
    background-color: #ececec;
    height: auto; /* Altura auto se adapta ao conteúdo */
    min-height: 315px; /* Altura mínima que o card tem que ter*/
    width: 100%;
    max-width: 330px; /* largura máxima para não esticar infinito*/
    padding: 20px; /* Padding uniforme */
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
}


.frut h3{
    font-family: "Vollkorn", serif;
    font-size: 22px;
    padding-top: 6px;
}

.latici article{
    background-color: #ececec;
    height: auto; /* Altura auto se adapta ao conteúdo */
    min-height: 315px; /* Altura mínima que o card tem que ter*/
    width: 100%;
    max-width: 330px; /* largura máxima para não esticar infinito*/
    padding: 20px; /* Padding uniforme */
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
}


.latici h3{
    font-family: "Vollkorn", serif;
    font-size: 22px;
    padding-top: 6px;
}

.queijos article{
    background-color: #ececec;
    height: auto; /* Altura auto se adapta ao conteúdo */
    min-height: 315px; /* Altura mínima que o card tem que ter*/
    width: 100%;
    max-width: 330px; /* largura máxima para não esticar infinito*/
    padding: 20px; /* Padding uniforme */
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
}


.queijos h3{
    font-family: "Vollkorn", serif;
    font-size: 22px;
    padding-top: 6px;
}

.geleias article{
    background-color: #ececec;
    height: auto; /* Altura auto se adapta ao conteúdo */
    min-height: 315px; /* Altura mínima que o card tem que ter*/
    width: 100%;
    max-width: 330px; /* largura máxima para não esticar infinito*/
    padding: 20px; /* Padding uniforme */
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
}


.geleias h3{
    font-family: "Vollkorn", serif;
    font-size: 22px;
    padding-top: 6px;
}

.sucos article{
    background-color: #ececec;
    height: auto; /* Altura auto se adapta ao conteúdo */
    min-height: 315px; /* Altura mínima que o card tem que ter*/
    width: 100%;
    max-width: 330px; /* largura máxima para não esticar infinito*/
    padding: 20px; /* Padding uniforme */
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
}


.sucos h3{
    font-family: "Vollkorn", serif;
    font-size: 22px;
    padding-top: 6px;
}

.paes article{
    background-color: #ececec;
    height: auto; /* Altura auto se adapta ao conteúdo */
    min-height: 315px; /* Altura mínima que o card tem que ter*/
    width: 100%;
    max-width: 330px; /* largura máxima para não esticar infinito*/
    padding: 20px; /* Padding uniforme */
    box-sizing: border-box;
    border-style: none;
    border-radius: 10px;
}

.paes h3{
    font-family: "Vollkorn", serif;
    font-size: 22px;
    padding-top: 6px;
}

span{
    font-family: "Lora", serif;
}


img{
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.botoes button{
    font-family: "DM Sans", sans-serif;
    background-color: #0d3b66;
    color: white;
    border-style: none;
    border-radius: 2px;
    width: 90px;
    height: 25px;
    transition: all 0.2s ease; /*Transição para o efeito de sobreposição*/
    margin-left: 0%;
    padding:1px;
}

.Comprar:hover{
    transform: scale(1.10); /*Aumenta o tamanho do botão*/
    background-color: #000255; /*Tom de vermelho mais elegante*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /*Sombra de efeito flutuante*/
    color: white;
}

.botoes { /*favoritos e sacola*/
    display: flex;
    gap:8px
}

footer{
    background-color: #013220;
    display: flex;
    flex-wrap: wrap; /* Faz as seções do rodapé ficar uma em baixo da outra */
    justify-content: space-between; /*Deixa os blocos lado a lado */
    align-items: flex-start;
    width: 100%;
    padding: 40px 10%;
    color: white;
    gap: 30px;
}

.bloco_logo{
    font-size: 10px;
    flex-direction: column;
    padding-left: 10px;
}

footer div{
    display: flex;
    flex-direction: row;
    gap: 1.5px;
}

footer h1{
    font-family: "Vollkorn", serif;
    font-size: 18px;
}

footer p{
    font-family: "DM Sans", sans-serif;
    font-size: 11.5px;
}

.bloco_do_relatorio{
    display: flex;
    flex-direction: column; /*Faz o texto ficar um em cima do outro*/
}

.bloco_do_relatorio a{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.bloco_do_relatorio p{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    text-decoration: none;
}

address{
    display: flex;
    flex-direction: column;
    gap: 1.6px;
    margin-top: 1px;
}

address p{
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
}

.copyright{
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    width: 107%;
    text-align: center;
    margin-top: 20px;
}

.Sacola{
    width: 300px;
    height: 100vh; /* Ocupa a altura inteira da tela do usuário*/
    background-color: white;
    box-shadow: rgb(0, 0, 0, 0.1);
    z-index: 2000;
    padding: 20px;
    display:flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -340px; /* Vai esconder a sacola para o lado direito da tela*/
    transition: 0.3s ease; /*Efeito para deslizar*/
}

.Sacola.aberta{ /*Essa classe vai ser do JS, para a scola deslizar para dentro da tela.*/
    right: 0;
}


h3{
    font-family: "Vollkorn", serif;
}

.itens_sacola{
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    border-style: groove;
    border-radius: 5px;
    padding: 4%;
    max-height: 50vh; /* Impede que os itens fujam da tela*/
    overflow-y: auto; /* Se tiver muitos itens, adiciona barra de rolagem*/
}

.rodape_sacola{
    display: flex;
    flex-direction: column;
    margin-top: auto; 
    gap: 10px;
}

.montante_total{
    display: flex;
    justify-content: space-between;
    border-style: groove;
    border-radius: 5px;
    padding: 3%;
}

h5{
    font-family: "Vollkorn", serif;
}

.total_da_sacola{
    font-family: "Lora", serif;
}

.finalizar_btn{
    font-family: "DM Sans", sans-serif;
    background-color: #c1121f;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    border-style: none;
    height: 28px;
    width: auto;
}

.finalizar_btn:hover{
    transform: scale(1.10); /*Aumenta o tamanho do botão*/
    background-color: #780000; /*Tom de vermelho mais elegante*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /*Sombra de efeito flutuante*/
    color: white;
}

.continuar_btn{
    font-family: "DM Sans", sans-serif;
    background-color: #0d3b66;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    border-style: none;
    height: 28px;
    width: auto;
}

.continuar_btn:hover{
    transform: scale(1.10); /*Aumenta o tamanho do botão*/
    background-color: #000255; /*Tom de vermelho mais elegante*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /*Sombra de efeito flutuante*/
    color: white;
}